<section class="area-user">
  <div class="user">
    <div class="logo">
      <img src="https://cdn-ggtech.s3-eu-west-3.amazonaws.com/uploads/games/logos/1630585636661_tft-bug-flat-white2.png">
    </div>
    <form [formGroup]="GrupCliente" (ngSubmit)="SubmiCliente()">
        <input type="text" formControlName="Nome" class="form-control" aria-describedby="clienteHelp" placeholder="Digite o nome do usuario">
        <input type="text" placeholder="Digite sua senha" id="senha-verificacao">
        <input type="text" formControlName="Senha" class="form-control" aria-describedby="clienteHelp" placeholder="Digite novamente a senha" >

    <button type="submit">Enviar</button>
    </form>
  </div>
</section>
