<div class="containerMain" >
  <div class="header">
    <div class="logo">
      <img src="https://cdn-ggtech.s3-eu-west-3.amazonaws.com/uploads/games/logos/1630585636661_tft-bug-flat-white2.png" alt="Logo">
    </div>
    <div class="container-links">
      <div class="container-link">
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </div>
      <div class="container-link">
        <a routerLink="/heroi" routerLinkActive="active">Herois</a>
      </div>
      <div class="container-link">
        <a routerLink="/criarHeroi"routerLinkActive="active">Criar Heroi</a>
      </div>
      <div class="container-link">
        <a routerLink="/sinergias" routerLinkActive="active">Sinergias</a>
      </div>
      <div class="container-link">
        <a routerLink="/itens" routerLinkActive="active">Itens</a>
      </div>
    </div>
    <div class="login">
      <a routerLink="/Login" routerLinkActive="active">Login
      </a>
    </div>
  </div>
</div>
    <router-outlet></router-outlet>
  <div class="footer">
    <div class="link-TFT">
      <a href="https://teamfighttactics.leagueoflegends.com/pt-br/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Teamfight_Tactics_logo.svg/1200px-Teamfight_Tactics_logo.svg.png"></a>
    </div>
    <div class="link-github">
     <a href="https://github.com/Carloskfoury" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" >
    </a>
    </div>
</div>
