<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Heroi
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/heroi" routerLinkActive="active">Herois</a>
                <a class="dropdown-item" routerLink="/criarHeroi"routerLinkActive="active">Criar Heroi</a>
              </div>
          </div>
          </li>

            <li class="nav-item active">
              <a class="nav-link" routerLink="/sinergias" routerLinkActive="active">Sinergias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/itens" routerLinkActive="active">Itens</a>
            </li>
          </ul>
        </div>
      </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <h2>footer</h2>
</div>
